<li class="nav-item">
  <a #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu" class="nav-link"
   (click)="openCategoryMenu(menuTrigger)">{{categoryName}}</a>

  <mat-menu #menu="matMenu">
    <div class="row mx-1">
      <!-- <div class="col-6" mat-menu-item> -->
      <div class="col-6">
        <app-list-group></app-list-group>
      </div>
      <!-- <div class="col-6" mat-menu-item> -->
      <div class="col-6">
        <app-list-group></app-list-group>
      </div>
    </div>
  </mat-menu>


</li>
