<div class="row ms-5 mt-5">
  <div class="col-md-3">
    <app-list-group></app-list-group>
  </div>
  <div class="col-md-8">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Order Number #1</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Some info about the orders.</p>
        <small>And some small print.</small>
      </a>
      <a class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Order Number #2</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some info about the orders.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
      <a class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Order Number #3</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some info about the orders.</p>
        <small class="text-muted">And some muted small print.</small>
      </a>
    </div>
  </div>
</div>
