<div class="row">
  <div class="col-5">
    <h4>Overall Rating : </h4>
  </div>
  <div class="col-7">
    <h4>4.5 stars</h4>
  </div>
</div>
<div class="row">
  <div class="col-2 mt-3">
    <h6>5 stars</h6>
    <h6>4 stars</h6>
    <h6>3 stars</h6>
    <h6>2 stars</h6>
    <h6>1 stars</h6>
  </div>
  <div class="col-10">
    <mat-progress-bar class="my-4" mode="determinate" value="80" [color]="'red'"></mat-progress-bar>
    <mat-progress-bar class="my-4" mode="determinate" value="70" [color]="'red'"></mat-progress-bar>
    <mat-progress-bar class="my-4" mode="determinate" value="60" [color]="'red'"></mat-progress-bar>
    <mat-progress-bar class="my-4" mode="determinate" value="50" [color]="'red'"></mat-progress-bar>
    <mat-progress-bar class="my-4" mode="determinate" value="40" [color]="'red'"></mat-progress-bar>
  </div>
</div>
